# United States - Crime Rates - 1960 - 2014

### Introduction:

This time you will create a data 

Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [49]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/04_Apply/US_Crime_Rates/US_Crime_Rates_1960_2014.csv).

### Step 3. Assign it to a variable called crime.

In [50]:
df_crime= pd.read_csv("https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/04_Apply/US_Crime_Rates/US_Crime_Rates_1960_2014.csv")

In [51]:
df_crime.head(2)

,Year,Population,Total,Violent,Property,Murder,Forcible_Rape,Robbery,Aggravated_assault,Burglary,Larceny_Theft,Vehicle_Theft
0,1960,179323175,3384200,288460,3095700,9110,17190,107840,154320,912100,1855400,328200
1,1961,182992000,3488000,289390,3198600,8740,17220,106670,156760,949600,1913000,336000

### Step 4. What is the type of the columns?

In [52]:
df_crime.dtypes

Year                  int64
Population            int64
Total                 int64
Violent               int64
Property              int64
Murder                int64
Forcible_Rape         int64
Robbery               int64
Aggravated_assault    int64
Burglary              int64
Larceny_Theft         int64
Vehicle_Theft         int64
dtype: object

##### Have you noticed that the type of Year is int64. But pandas has a different type to work with Time Series. Let's see it now.

### Step 5. Convert the type of the column Year to datetime64

In [53]:
df_crime=pd.to_datetime("Year")

ParserError: Unknown string format: Year

In [54]:
df_crime["Year"]= pd.to_datetime(df_crime["Year"], format = "%Y")

In [55]:
df_crime.dtypes

Year                  datetime64[ns]
Population                     int64
Total                          int64
Violent                        int64
Property                       int64
Murder                         int64
Forcible_Rape                  int64
Robbery                        int64
Aggravated_assault             int64
Burglary                       int64
Larceny_Theft                  int64
Vehicle_Theft                  int64
dtype: object

### Step 6. Set the Year column as the index of the dataframe

In [56]:
df_crime.set_index("Year", inplace = True)
df_crime.head(2)

,Population,Total,Violent,Property,Murder,Forcible_Rape,Robbery,Aggravated_assault,Burglary,Larceny_Theft,Vehicle_Theft
Year,,,,,,,,,,,
1960-01-01,179323175,3384200,288460,3095700,9110,17190,107840,154320,912100,1855400,328200
1961-01-01,182992000,3488000,289390,3198600,8740,17220,106670,156760,949600,1913000,336000

### Step 7. Delete the Total column

In [57]:
df_crime.drop("Total", axis=1, inplace = True)
df_crime.head(10)

,Population,Violent,Property,Murder,Forcible_Rape,Robbery,Aggravated_assault,Burglary,Larceny_Theft,Vehicle_Theft
Year,,,,,,,,,,
1960-01-01,179323175,288460,3095700,9110,17190,107840,154320,912100,1855400,328200
1961-01-01,182992000,289390,3198600,8740,17220,106670,156760,949600,1913000,336000
1962-01-01,185771000,301510,3450700,8530,17550,110860,164570,994300,2089600,366800
1963-01-01,188483000,316970,3792500,8640,17650,116470,174210,1086400,2297800,408300
1964-01-01,191141000,364220,4200400,9360,21420,130390,203050,1213200,2514400,472800
1965-01-01,193526000,387390,4352000,9960,23410,138690,215330,1282500,2572600,496900
1966-01-01,195576000,430180,4793300,11040,25820,157990,235330,1410100,2822000,561200
1967-01-01,197457000,499930,5403500,12240,27620,202910,257160,1632100,3111600,659800
1968-01-01,199399000,595010,6125200,13800,31670,262840,286700,1858900,3482700,783600
1969-01-01,201385000,661870,6749000,14760,37170,298850,311090,1981900,3888600,878500

### Step 8. Group the year by decades and sum the values

#### Pay attention to the Population column number, summing this column is a mistake

In [58]:
df_crime = df_crime.resample('10Y').sum()
df_crime

,Population,Violent,Property,Murder,Forcible_Rape,Robbery,Aggravated_assault,Burglary,Larceny_Theft,Vehicle_Theft
Year,,,,,,,,,,
1960-12-31,179323175,288460,3095700,9110,17190,107840,154320,912100,1855400,328200
1970-12-31,1938965298,4585290,49424400,113070,257520,1875530,2339170,14614000,28918100,5892300
1980-12-31,2143307264,10213630,96088300,199270,599570,4375000,5039800,30076200,56068900,9943200
1990-12-31,2394730678,14549938,117640700,206839,885209,5456539,8001340,32352194,72849053,12439611
2000-12-31,2645537291,17132404,116580585,203810,986445,5517676,10425809,25727107,76705256,14148520
2010-12-31,2975877430,13793818,99874408,162254,917914,4191439,8522262,21682641,67203302,10992397
2020-12-31,1260816088,4820769,34983325,58095,335466,1380720,2982298,7956713,24197097,2829515

In [59]:
pop = df_crime['Population'].resample('10Y').mean()

In [60]:
df_crime['Population'] = pop

In [61]:
df_crime

,Population,Violent,Property,Murder,Forcible_Rape,Robbery,Aggravated_assault,Burglary,Larceny_Theft,Vehicle_Theft
Year,,,,,,,,,,
1960-12-31,179323175,288460,3095700,9110,17190,107840,154320,912100,1855400,328200
1970-12-31,1938965298,4585290,49424400,113070,257520,1875530,2339170,14614000,28918100,5892300
1980-12-31,2143307264,10213630,96088300,199270,599570,4375000,5039800,30076200,56068900,9943200
1990-12-31,2394730678,14549938,117640700,206839,885209,5456539,8001340,32352194,72849053,12439611
2000-12-31,2645537291,17132404,116580585,203810,986445,5517676,10425809,25727107,76705256,14148520
2010-12-31,2975877430,13793818,99874408,162254,917914,4191439,8522262,21682641,67203302,10992397
2020-12-31,1260816088,4820769,34983325,58095,335466,1380720,2982298,7956713,24197097,2829515

### Step 9. What is the most dangerous decade to live in the US?

In [63]:
df_crime.idxmax()

Population           2010-12-31
Violent              2000-12-31
Property             1990-12-31
Murder               1990-12-31
Forcible_Rape        2000-12-31
Robbery              2000-12-31
Aggravated_assault   2000-12-31
Burglary             1990-12-31
Larceny_Theft        2000-12-31
Vehicle_Theft        2000-12-31
dtype: datetime64[ns]